:root {
  --black1: hsla(228, 10%, 10%, 1);
  --black2: hsla(240, 5%, 12%, 1);
  --black3: hsla(220, 3%, 22%, 1);

  --white1: hsla(0, 0%, 100%, 1);
  --white2: hsla(0, 0%, 75%, 1);
  --white3: hsla(0, 0%, 64%, 1);
  --white4: hsla(231, 4%, 35%, 1);

  --violet1: hsla(247, 61%, 72%, 1);
  --violet2: hsla(247, 61%, 72%, 0.6);
  --violet3: hsla(247, 61%, 72%, 0.1);

  --pink1: hsla(343, 96%, 68%, 1);
  --pink2: hsla(343, 96%, 68%, 0.6);
  --pink3: hsla(343, 96%, 68%, 0.1);

  --blue1: hsla(188, 74%, 63%, 1);
  --blue2: hsla(188, 74%, 63%, 0.6);
  --blue3: hsla(188, 74%, 63%, 0.1);

  --green1: hsla(133, 54%, 66%, 1);
  --green2: hsla(133, 54%, 66%, 0.6);
  --green3: hsla(133, 54%, 66%, 0.1);

  --orange1: hsla(22, 82%, 64%, 1);
  --orange2: hsla(22, 82%, 64%, 0.6);
  --orange3: hsla(22, 82%, 64%, 0.1);

  --yellow1: hsla(51, 96%, 69%, 1);
  --yellow2: hsla(51, 96%, 69%, 0.6);
  --yellow3: hsla(51, 96%, 69%, 0.1);

  --red1: hsla(0, 97%, 63%, 1);
  --red2: hsla(0, 97%, 63%, 0.6);
  --red3: hsla(0, 97%, 63%, 0.1);
}
