.color-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.color {
  width: 150px;
  height: 150px;
}

.hint {
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  color: var(--white3);
}
